:root {
    --main-color: #4D317D;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-size: 12px;
}
.container {
    width: 1280px;
    margin: 0 auto;
    font-size: 0;
}
.swiper {
    width: 100%;
    height: 440px;
    background: url("../imgs/picproductservice@2x.png")center center no-repeat;
    background-size: cover;
}

.aside {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: -60px;
    width: 200px;
    margin-right: 20px;
    padding: 0 24px 14px 24px;
    box-sizing: border-box;
    font-size: 12px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(77,49,125,0.15);
    border-top: 2px solid #4D317D;
}
.fixed {
    position: fixed;
    top: 0;
}
.aside-li {
    margin-top: 36px;
    cursor:pointer;
}
.aside-li:first-child {
    margin-top: 24px;
}
.aside-li:last-child {
    border-bottom: none;
}
.aside-title {
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #333333;
}
.aside-con {
    position: relative;
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
}
/*.no-border {*/
    /*border-bottom: none;*/
/*}*/
.aside-sub-li {
     padding-bottom: 16px;
     font-size: 14px;
     color: #666666;
 }
.aside-sub-li:last-child{
    padding-bottom: 0;
}
.aside-sub-li img {
    display: none;
}
.active {
    color: #F49F0C;
}
.active img {
    display: inline-block;
    float: right;
    width: 20px;
    height: 5px;
    margin-top: 6px;
}
.aside-sub-li:first-child {
    margin-top: 24px;
}
.aside-sub-li:hover {
    color: #F49F0C;
}
.aside-li-ul {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}
.aside-icon1, .aside-icon2{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
    display: inline-block;
    width: 10px;
    height: 2px;
    background: #AAAAAA;
}
.aside-icon2 {
    transition: all .5s;
    transform: rotateZ(-90deg);
}

.selected .aside-icon2 {
    transform: rotateZ(0);
}
.selected .aside-li-ul {
    max-height: 500px;
}

.content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: -60px;
    width: 1060px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 40px 97px 40px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(77,49,125,0.15);
}
.m-220 {
    margin-left: 220px;
}
.content h3 {
    margin-top: 80px;
    margin-bottom: 16px;
    font-size: 18px;
    color: #333333;
}
.content-title {
    margin: 36px 0 24px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    font-size: 36px;
    color: #333333;
}
.content-introduce h3 {
    margin-top: 40px;
}
.introduce-con {
    font-size: 14px;
    color: #666666;
}

.service-con ul li {
    display: inline-block;
    width: 24%;
    height: 120px;
    text-align: center;
}
.service-con-li img {
    margin-bottom: 24px;
    width: 120px;
    height: 120px;
    vertical-align: middle;
}
.service-con-li p {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
}

.charge-con {
    margin-top: 5px;
}
.charge-con li{
    position: relative;
    display: inline-block;
    width: 470px;
    vertical-align: top;
    text-align: center;
    border-radius: 4px;
    background: #FFFFFF;
}
.charge-con li h4{
    margin: 24px 0 20px 24px;
    text-align: left;
    font-size: 16px;
    color: #333333;
}
.charge-icon {
    position: absolute;
    top: -35px;
    right: 24px;
    width: 70px;
    height: 70px;
    background: #ffffff;
    border-radius: 50%;
}
.charge-icon img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 30px;
    height: 36px;
}
.charge-con-orange img {
    width: 40px;
    height: 31px;
}
.charge-con-purple {
    margin-right: 36px;
    border-bottom: 3px solid #4D317D;
    box-shadow: 0 2px 8px 0 rgba(94,55,155,0.20);
}
.charge-con-purple .charge-icon {
    box-shadow: 0 2px 8px 0 rgba(94,55,155,0.20);
}
.charge-con-orange .charge-icon {
    box-shadow: 0 2px 8px 0 rgba(244,159,12,0.20);
}
.charge-con-orange {
    border-bottom: 3px solid #F49F0C;
    box-shadow: 0 2px 8px 0 rgba(244,159,12,0.15);
}
.purple-span {
    margin-right: 14px;
    font-size: 14px;
    color: #333333;
}
.purple-num {
    font-size: 32px;
    color: #4D317D;
}
.orange-num {
    margin-right: 10px;
    font-size: 32px;
    color: #F49F0C;
}
.orange-span {
    font-size: 14px;
    color: #F49F0C;
}
.example {
    margin-top: 24px;
    margin-bottom: 40px;
    color: #999999;
}
.charge-remark {
    margin-top: 24px;
    font-size: 14px;
    color: #999999;
}

.content-selt p {
    font-size: 14px;
    color: #666666;
}
.handle-step {
    text-align: center;
}
.handle-step img {
    display: inline-block;
    width: 28px;
    height: 28px;
}
.handle-step p {
    display: inline-block;
    vertical-align: text-top;
    width: 400px;
    margin: 0 36px;
    border-bottom: 1px solid #E8E8E8;
}
.handle-li {
    display: inline-block;
    width: 49.7%;
    margin-top: 21px;
    text-align: center;
}
.handle-li p {
    margin-bottom: 36px;
    font-size: 14px;
    color: #666666;
}
.handle-li img {
    width: 320px;
    height: 175px;
}

.content-mail ul{
    margin-top: 5px;
}
.content-mail ul li{
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
}


footer {
    width: 100%;
    height: 497px;
    margin-top: -36px;
    overflow: hidden;
    background-color: var(--main-color);
}
.footer-top {
    margin-top: 80px;
    padding-bottom: 60px;
    font-size: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
.footer-bottom {
    font-size: 12px;
}
ul{
    list-style-type: none;
}
.top-left {
    display: inline-block;
}
.left-title .title-li{
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
}
.title-li-ul li {
    cursor:pointer;
    margin-bottom: 8px;
    color: #B398EA;
}
.title-li-ul li:first-child {
    margin-bottom: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.title-li-ul li:hover {
    color: #ffffff;
}

.top-right {
    float: right;
}
.top-right:after {
    content: '';
    clear: both;
}
.right-time {
    margin-bottom: 32px;
    font-size: 16px;
    color: #FFFFFF;
}
.right-tel {
    margin-bottom: 24px;
    font-size: 32px;
    color: #FFFFFF;
}
.connect-ul li{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 7px;
    background: rgba(255,255,255,0.20);
    border-radius: 50%;
}
.connect-ul li:hover {
    cursor:pointer;
    background: rgba(255,255,255,0.40);
}
.connect-ul li img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.connect-code {
    position: absolute;
    top: -93px;
    left: 20px;
}
.connect-code .code-img {
    transition: .5s;
    width: 160px;
    height: 0;
}
.code-img {
    height: 196px;
}
.connect-ul li:hover .connect-code .code-img {
    height: 196px;
}

.bottom-label {
    margin-top: 40px;
}
.bottom-label span {
    display: inline-block;
    height: 12px;
    line-height: 12px;
    padding:0 12px;
    border-right: 1px solid rgba(255,255,255,0.30);
    color: #B398EA;
}
.bottom-label span:first-child {
    padding-left: 0;
}
.bottom-label span:last-child {
    border-right: none;
}
.bottom-address {
    margin-top: 20px;
    color: rgba(255,255,255,0.30);
}
.bottom-copyright {
    float: right;
}